.screen2Container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #14054E;
  padding: 2rem 0;
}

.screen2Text {
  text-align: left;
}

.text1 {
  font-size: 2rem !important;
  font-weight:700 !important; 
  color: rgba(255, 255, 255, 0.48);
}


.text2 {
  font-size: 3rem;
  font-weight: 700;
  margin-left: 10px;
  color: #ffffff;
}

.screen2Image {
  text-align: right;
}

@media (max-width: 1022px) {
  .screen2Content {
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column-reverse !important;
  }
  .screen2Text {
    margin-top: 2rem;
    text-align: center;
  }
  .screen2Image {
    text-align: center;
  }
  .screen2Image img {
    max-width: 80%;
  }
  .text1,
  .text2 {
    font-size: 1.75rem !important;
  }
}
