/* components/PaginationDots/PaginationDots.module.css */

.paginationDots {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 0.5rem;
  z-index: 1000;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.28);
  border: none;
  cursor: pointer;
}

.dot.active {
  background-color: #B7E703;
}
