.footer {
  position: relative;
  background-color: #fff;
  padding: 2rem 0;
  color: rgba(0, 0, 0, 0.48);
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerLeft {
  opacity: 0.48;
}

.footerRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.linkButton {
  color: rgba(0, 0, 0, 0.48) !important;
}

.socialIcons {
  display: flex;
}

/* Responsive styles for smaller screens */
@media (max-width: 1022px) {
  .footer {
    padding: 1.25rem 0;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  .footerLeft,
  .footerCenter,
  .footerRight {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
  }
  .terms {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
}